{% ckan_extends %}

{% block extras %}
{% set user = current_user %}

<!-- {% if pkg_dict.author %}
<tr>
  <th scope="row" class="dataset-label">{{ _("Creator") }}</th>
  <td class="dataset-details">{{ pkg_dict.author }}</td>
</tr>
{% endif %} -->
{% if pkg_dict.nameIdentifier %}
<tr>
  <th scope="row" class="dataset-label">{{ _("Name Identifier (ORCID)") }}</th>
  <td class="dataset-details">{{ pkg_dict.nameIdentifier }}</td>
</tr>
{% endif %}
{% if pkg_dict.creatorAffiliation %}
<tr>
  <th scope="row" class="dataset-label">{{ _("Creator Affiliation") }}</th>
  <td class="dataset-details">{{ pkg_dict.creatorAffiliation }}</td>
</tr>
{% endif %}
{% if pkg_dict.publisher %}
<tr>
  <th scope="row" class="dataset-label">{{ _("Publisher") }}</th>
  <td class="dataset-details">{{ pkg_dict.publisher }}</td>
</tr>
{% endif %}
{% if pkg_dict.publicationYear %}
<tr>
  <th scope="row" class="dataset-label">{{ _("PublicationYear") }}</th>
  <td class="dataset-details">{{ pkg_dict.publicationYear }}</td>
</tr>
{% endif %}
{% if pkg_dict.abstract %}
<tr>
  <th scope="row" class="dataset-label">{{ _("Abstract") }}</th>
  <td class="dataset-details">{{ pkg_dict.abstract }}</td>
</tr>
{% endif %}
{% if pkg_dict.methods %}
<tr>
  <th scope="row" class="dataset-label">{{ _("Methods") }}</th>
  <td class="dataset-details">{{ pkg_dict.methods }}</td>
</tr>
{% endif %}
{% if pkg_dict.technicalInfo %}
<tr>
  <th scope="row" class="dataset-label">{{ _("Technical Information") }}</th>
  <td class="dataset-details">{{ pkg_dict.technicalInfo }}</td>
</tr>
{% endif %}
{% if pkg_dict.experimentCode %}
<tr>
  <th scope="row" class="dataset-label">{{ _("RRES Farms Field Experiment Code") }}</th>
  <td class="dataset-details">{{ pkg_dict.experimentCode }}</td>
</tr>
{% endif %}
{% if pkg_dict.Codes %}
<tr>
  <th scope="row" class="dataset-label">{{ _("Codes") }}</th>
  <td class="dataset-details">{{ pkg_dict.Codes }}</td>
</tr>
{% endif %}
{% if pkg_dict.resourceTypeGeneral %}
<tr>
  <th scope="row" class="dataset-label">{{ _("General Resource Type") }}</th>
  <td class="dataset-details">{{ pkg_dict.resourceTypeGeneral }}</td>
</tr>
{% endif %}
{% if pkg_dict.resourceType %}
<tr>
  <th scope="row" class="dataset-label">{{ _("Resource Type") }}</th>
  <td class="dataset-details">{{ pkg_dict.resourceType }}</td>
</tr>
{% endif %}
{% if pkg_dict.language %}
<tr>
  <th scope="row" class="dataset-label">{{ _("Language") }}</th>
  <td class="dataset-details">{{ pkg_dict.language }}</td>
</tr>
{% endif %}
{% if pkg_dict.collectionStartDate %}
<tr>
  <th scope="row" class="dataset-label">{{ _("Collection Start Date") }}</th>
  <td class="dataset-details">{{ pkg_dict.collectionStartDate }}</td>
</tr>
{% endif %}
{% if pkg_dict.collectionEndDate %}
<tr>
  <th scope="row" class="dataset-label">{{ _("Collection End Date") }}</th>
  <td class="dataset-details">{{ pkg_dict.collectionEndDate }}</td>
</tr>
{% endif %}
{% if pkg_dict.createdDate %}
<tr>
  <th scope="row" class="dataset-label">{{ _("Created Date") }}</th>
  <td class="dataset-details">{{ pkg_dict.createdDate }}</td>
</tr>
{% endif %}
{% if pkg_dict.submittedDate %}
<tr>
  <th scope="row" class="dataset-label">{{ _("Submitted Date") }}</th>
  <td class="dataset-details">{{ pkg_dict.submittedDate }}</td>
</tr>
{% endif %}
{% if pkg_dict.availableDate %}
<tr>
  <th scope="row" class="dataset-label">{{ _("Available Date") }}</th>
  <td class="dataset-details">{{ pkg_dict.availableDate }}</td>
</tr>
{% endif %}
{% if pkg_dict.withdrawnDate %}
<tr>
  <th scope="row" class="dataset-label">{{ _("Withdrawn Date") }}</th>
  <td class="dataset-details">{{ pkg_dict.withdrawnDate }}</td>
</tr>
{% endif %}
{% if pkg_dict.funderName %}
<tr>
  <th scope="row" class="dataset-label">{{ _("Funder Name") }}</th>
  <td class="dataset-details">{{ pkg_dict.funderName }}</td>
</tr>
{% endif %}
{% if pkg_dict.funderId %}
<tr>
  <th scope="row" class="dataset-label">{{ _("Funder Identifier") }}</th>
  <td class="dataset-details">{{ pkg_dict.funderId }}</td>
</tr>
{% endif %}
{% if pkg_dict.funderIdType %}
<tr>
  <th scope="row" class="dataset-label">{{ _("Funder Identifier Type") }}</th>
  <td class="dataset-details">{{ pkg_dict.funderIdType }}</td>
</tr>
{% endif %}
{% if pkg_dict.awardNumber %}
<tr>
  <th scope="row" class="dataset-label">{{ _("Award Number") }}</th>
  <td class="dataset-details">{{ pkg_dict.awardNumber }}</td>
</tr>
{% endif %}
{% if pkg_dict.awardURI %}
<tr>
  <th scope="row" class="dataset-label">{{ _("Award URI") }}</th>
  <td class="dataset-details">{{ pkg_dict.awardURI }}</td>
</tr>
{% endif %}
{% if pkg_dict.awardTitle %}
<tr>
  <th scope="row" class="dataset-label">{{ _("Award Title") }}</th>
  <td class="dataset-details">{{ pkg_dict.awardTitle }}</td>
</tr>
{% endif %}
{% if pkg_dict.contributorType %}
<tr>
  <th scope="row" class="dataset-label">{{ _("Contributor Types") }}</th>
  <td class="dataset-details">{{ pkg_dict.contributorType }}</td>
</tr>
{% endif %}
{% if pkg_dict.contributorDetails %}
<tr>
  <th scope="row" class="dataset-label">{{ _("Contributors") }}</th>
  <td class="dataset-details">{{ pkg_dict.contributorDetails }}</td>
</tr>
{% endif %}

{% if pkg_dict.contributorId %}
<tr>
  <th scope="row" class="dataset-label">{{ _("Contributors ID") }}</th>
  <td class="dataset-details">{{ pkg_dict.contributorId }}</td>
</tr>
{% endif %}
{% if pkg_dict.contributorAffiliation %}
<tr>
  <th scope="row" class="dataset-label">{{ _("Contributors Affiliations") }}</th>
  <td class="dataset-details">{{ pkg_dict.contributorAffiliation }}</td>
</tr>
{% endif %}
{% if pkg_dict.relatedIdentifierType %}
<tr>
  <th scope="row" class="dataset-label">{{ _("Related Resource ID Type") }}</th>
  <td class="dataset-details">{{ pkg_dict.relatedIdentifierType }}</td>
</tr>
{% endif %}
{% if pkg_dict.relationType %}
<tr>
  <th scope="row" class="dataset-label">{{ _("Relation Type") }}</th>
  <td class="dataset-details">{{ pkg_dict.relationType }}</td>
</tr>
{% endif %}
{% if pkg_dict.relatedResourceType %}
<tr>
  <th scope="row" class="dataset-label">{{ _("Related Resource Type") }}</th>
  <td class="dataset-details">{{ pkg_dict.relatedResourceType }}</td>
</tr>
{% endif %}
{% if pkg_dict.relatedIdentifier %}
<tr>
  <th scope="row" class="dataset-label">{{ _("Related Resources IDs") }}</th>
  <td class="dataset-details">{{ pkg_dict.relatedIdentifier }}</td>
</tr>
{% endif %}
{% if pkg_dict.associatedNote %}
<tr>
  <th scope="row" class="dataset-label">{{ _("Assoicated Research NotebookS") }}</th>
  <td class="dataset-details">{{ pkg_dict.associatedNote }}</td>
</tr>
{% endif %}
{% if pkg_dict.dataLocation %}
<tr>
  <th scope="row" class="dataset-label">{{ _("Data Locations") }}</th>
  <td class="dataset-details">{{ pkg_dict.dataLocation }}</td>
</tr>
{% endif %}
{% if pkg_dict.responsiblePerson %}
<tr>
  <th scope="row" class="dataset-label">{{ _("Responsible Person") }}</th>
  <td class="dataset-details">{{ pkg_dict.responsiblePerson }}</td>
</tr>
{% endif %}
{% if pkg_dict.infraUsed %}
<tr>
  <th scope="row" class="dataset-label">{{ _("Research Infrastructure Used") }}</th>
  <td class="dataset-details">{{ pkg_dict.infraUsed }}</td>
</tr>
{% endif %}
{% if pkg_dict.geoLocation %}
<tr>
  <th scope="row" class="dataset-label">{{ _("Location") }}</th>
  <td class="dataset-details">{{ pkg_dict.geoLocation }}</td>
</tr>
{% endif %}
{% if pkg_dict.geoLatitude %}
<tr>
  <th scope="row" class="dataset-label">{{ _("Latitude") }}</th>
  <td class="dataset-details">{{ pkg_dict.geoLatitude }}</td>
</tr>
{% endif %}
{% if pkg_dict.geoLongitude %}
<tr>
  <th scope="row" class="dataset-label">{{ _("Longitude") }}</th>
  <td class="dataset-details">{{ pkg_dict.geoLongitude }}</td>
</tr>
{% endif %}
{% if pkg_dict.subjectScheme %}
<tr>
  <th scope="row" class="dataset-label">{{ _("Subject Scheme") }}</th>
  <td class="dataset-details">{{ pkg_dict.subjectScheme }}</td>
</tr>
{% endif %}
{% if pkg_dict.subjectUri %}
<tr>
  <th scope="row" class="dataset-label">{{ _("Subject URI") }}</th>
  <td class="dataset-details">{{ pkg_dict.subjectUri }}</td>
</tr>
{% endif %}
{% if pkg_dict.valueUri %}
<tr>
  <th scope="row" class="dataset-label">{{ _("Value URI") }}</th>
  <td class="dataset-details">{{ pkg_dict.valueUri }}</td>
</tr>
{% endif %}
{% if pkg_dict.classificationCode %}
<tr>
  <th scope="row" class="dataset-label">{{ _("Subject Classification Code") }}</th>
  <td class="dataset-details">{{ pkg_dict.classificationCode }}</td>
</tr>
{% endif %}
{% if pkg_dict.subject %}
<tr>
  <th scope="row" class="dataset-label">{{ _("Subject") }}</th>
  <td class="dataset-details">{{ pkg_dict.subject }}</td>
</tr>
{% endif %}
{% if pkg_dict.geoLowLeftLatitude %}
<tr>
  <th scope="row" class="dataset-label">{{ _("Geo Latitude Low Left Corner") }}</th>
  <td class="dataset-details">{{ pkg_dict.geoLowLeftLatitude }}</td>
</tr>
{% endif %}
{% if pkg_dict.geoLowLeftLongitude %}
<tr>
  <th scope="row" class="dataset-label">{{ _("Geo Longitude Low Left Corner") }}</th>
  <td class="dataset-details">{{ pkg_dict.geoLowLeftLongitude }}</td>
</tr>
{% endif %}
{% if pkg_dict.geoTopRightLatitude %}
<tr>
  <th scope="row" class="dataset-label">{{ _("Geo Latitude Top Right Corner") }}</th>
  <td class="dataset-details">{{ pkg_dict.geoTopRightLatitude }}</td>
</tr>
{% endif %}
{% if pkg_dict.geoTopRightLongitude %}
<tr>
  <th scope="row" class="dataset-label">{{ _("Geo Longitude Top Right Corner") }}</th>
  <td class="dataset-details">{{ pkg_dict.geoTopRightLongitude }}</td>
</tr>
{% endif %}
{% endblock %}
