{% ckan_extends %}

{# You could remove 'free extras' from the package form like this, but we keep them for this example's tests.
{% block author %}
{% endblock %}
{% block nameIdentifier %}
{% endblock %}
{% block creatorAffiliation %}
{% endblock %}
{% block publisher %}
{% endblock %}
{% block publicationYear %}
{% endblock %}
{% block abstract %}
{% endblock %}
{% block experimentCode %}
{% endblock %}
{% block Codes %}
{% endblock %}
{% block FarmOS_Experiment_Codes %}
{% endblock %}
{% block resourceTypeGeneral %}
{% endblock %}
{% block resourceType %}
{% endblock %}
{% block collectionStartDate %}
{% endblock %}
{% block collectionEndDate %}
{% endblock %}
{% block createdDate %}
{% endblock %}
{% block submittedDate %}
{% endblock %}
{% block availableDate %}
{% endblock %}
{% block withdrawnDate %}
{% endblock %}
{% block funderName %}
{% endblock %}
{% block funderId %}
{% endblock %}
{% block funderIdType %}
{% endblock %}
{% block awardNumber %}
{% endblock %}
{% block awardURI %}
{% endblock %}
{% block awardTitle %}
{% endblock %}
{% block contributorType %}
{% endblock %}
{% block contributorDetails %}
{% endblock %}
{% block contributorId %}
{% endblock %}
{% block contributorAffiliation %}
{% endblock %}
{% block relatedIdentifierType %}
{% endblock %}
{% block relationType %}
{% endblock %}
{% block relatedResourceType %}
{% endblock %}
{% block relatedIdentifier %}
{% endblock %}
{% block associatedNote %}
{% endblock %}
{% block dataLocation %}
{% endblock %}
{% block responsiblePerson %}
{% endblock %}
{% block infraUsed %}
{% endblock %}
{% block geoLocation %}
{% endblock %}
{% block geoLatitude %}
{% endblock %}
{% block geoLongitude %}
{% endblock %}
{% block subjectScheme %}
{% endblock %}
{% block subjectUri %}
{% endblock %}
{% block valueUri %}
{% endblock %}
{% block subject %}
{% endblock %}
{% block geoLowLeftLatitude %}
{% endblock %}
{% block geoLowLeftLongitude %}
{% endblock %}
{% block geoTopRightLatitude %}
{% endblock %}
{% block geoTopRightLongitude %}
{% endblock %}
{% block license %}
{% endblock %}
{% block withdrawalReason %}
{% endblock %}
#}
