<div role="main" class="hero">
  {% set user = current_user %}
  {% if h.check_user_permission(user) %}
  {% endif %}  
  <div class="container" style="align-items: center;">
<h3>Welcome to RRES CKAN Data Repository</h3>
</div>
  <div class="container">
    {% block search %}
      {% snippet 'home/snippets/search.html' %}
    {% endblock %}
  </div>
</div>
<div role="main" class="module-feeds">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        {% block featured_group %}
          {% snippet 'home/snippets/featured_group.html' %}
        {% endblock %}
      </div>
      <div class="col-md-6">
        {% block stats %}
          {% snippet 'home/snippets/stats.html' %}
        {% endblock %}
      </div>
    </div>
  </div>
</div>

