{% macro license_string(pkg_dict) %}
{% if 'license_url' in pkg_dict %}
<a href="{{ pkg_dict.license_url }}" rel="dc:rights">{{ pkg_dict.license_title }}</a>
{% else %}
{% if pkg_dict.license %}
<div style="text-align: left; padding-left: 10px;" id="licensepara"></div>
<script>
  // Assuming you have the license value and URL
  let licenseVal = "{{pkg_dict.license}}";
  let licenseUrl = "";
  let imageSource = "";
  if (licenseVal == "Creative Commons Attribution Non-Commercial (CC BY-NC 4.0)") {
    licenseUrl = "https://creativecommons.org/licenses/by-nc/4.0/legalcode.en";
    imageSource = "https://raw.githubusercontent.com/Rothamsted-Ecoinformatics/CKAN/master/src/images/ccbync.png";
  }
  else if (licenseVal == "Creative Commons Attribution Licence (CC BY 4.0)") {
    licenseUrl = "https://creativecommons.org/licenses/by/4.0/legalcode.en";
    imageSource = "https://raw.githubusercontent.com/Rothamsted-Ecoinformatics/CKAN/master/src/images/ccby.png";
  }
  else if (licenseVal == "Open Government Licence (OGL)") {
    licenseUrl = "https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/";
    imageSource = "https://raw.githubusercontent.com/Rothamsted-Ecoinformatics/CKAN/master/src/images/ogl.png";
  }

  // Get the <p> element
  const licensePara = document.getElementById("licensepara");
  // Create an anchor tag
  var anchorTag = document.createElement("a");
  anchorTag.href = licenseUrl;
  anchorTag.textContent = "This work is licensed under " + licenseVal;
  anchorTag.style.color = "black";
  anchorTag.style.flexWrap = "wrap";
  var licenseLogo = document.createElement("img");
  licenseLogo.src = imageSource;
  licenseLogo.style.width = "60px";
  licenseLogo.style.height = "30px";
  var brElement = document.createElement("br");
  // Append the anchor tag to the <p> element
  licensePara.appendChild(anchorTag);
  licensePara.appendChild(brElement);
  licensePara.appendChild(licenseLogo);

</script>
{% else %}
<span>{{ _('No License Provided') }}</span>
{% endif %}
{% endif %}
{% endmacro %}

{% block license %}
{% if text_only %}
{{ license_string(pkg_dict) }}
{% else %}
{% block license_wrapper %}<div style="background-color: white;">
  <section >
    {% block license_title %}
    {% endblock %}
    <!-- {% block license_content %} -->

    <div >

      <!-- {% block license_content_inner %} -->

      <label style="padding-left: 10px;"><i class="fa fa-lock"></i> <strong>License</strong></label>
      {{ license_string(pkg_dict) }}

      {% if pkg_dict.isopen %}
      <div style="padding-left: 10px;">
      <a style="padding-left: 10px;" href="http://opendefinition.org/okd/" title="{{ _('This dataset satisfies the Open Definition.') }}">
        <img class="open-data" src="{{ h.url_for_static('/base/images/od_80x15_blue.png') }}" alt="[Open Data]" />
      </a>
       </div>
      {% endif %}
      <!-- {% endblock %} -->
    </div>
    <!-- {% endblock %} -->
  </section>
</div>
{% endblock %}
{% endif %}
{% endblock %}
