<section class="additional-info">
  <!-- Author Information -->
  {% set can_edit = h.check_access('package_update', {'id':pkg_dict.id }) %}
  {% set user = 'true' if can_edit else 'false' %}


  <style>
    table {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 100%;
      display: none;
      border-bottom: 1px black;
      table-layout: fixed;
    }

    td,
    th {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 8px;
    }



    pre {
      color: rgb(0, 0, 0);
      font: 1em sans-serif;
    }

    p {
      color: black;
      font: 1em sans-serif
    }
  </style>
  <div><strong>Authors</strong></div>
  <table id="authorTable" style="display: table; word-wrap: break-word; overflow: hidden;">
    <tr style="color: #0e6633; font-family: Arial;">
      <th>Name</th>
      <th>ORCID</th>
      <th>Affiliation</th>
    </tr>

  </table>
  <!-- <hr style="height:2px;border-width:0;color:black;background-color:gray"> -->

  <script>
    console.log("{{pkg_dict}}");
    let name = "{{pkg_dict.author}}".split(",");
    let orcid = "{{ pkg_dict.nameIdentifier }}".split(",");
    let affils = "{{ pkg_dict.creatorAffiliation }}".split(",");

    let table = document.getElementById("authorTable");
    for (let i = 0; i < name.length; i++) {
      let row = table.insertRow();
      let cell1 = row.insertCell();
      let cell2 = row.insertCell();
      let cell3 = row.insertCell();

      cell1.innerHTML = name[i];
      // Update the ORCID value to include the URL and make it a clickable link
      if (orcid[i] != "NONE") {
        cell2.innerHTML = '<a href="https://orcid.org/' + orcid[i] + '" target="_blank">https://orcid.org/' + orcid[i] + '</a>';
      }
      else {
        cell2.innerHTML = "NONE";
      }
      cell3.innerHTML = affils[i];
    }
  </script>
  <div id="withdrawalMessage" style="display: none;"></div>
  <script>
    let msg = "{{pkg_dict.withdrawalReason}}".trim();
    if (msg != "") {

      document.getElementById("withdrawalMessage").style.display = "block";
      document.getElementById("withdrawalMessage").innerHTML = "This Dataset is withdrawn by the author. The reason given is: " + msg + ". Contact the author for more details";
    }
  </script><br>
  <!-- Abstract, Methods and Technical Information  -->
  <div><strong> Abstract </strong></div>
 <p id="p-abstract">
    {{ pkg_dict.abstract | trim | replace('\r\n', '\n') | replace('\n\n', '\n') | replace('\n', '<br>') | safe }}
</p>




  <div><strong> Methods </strong></div>
  <p>{{ pkg_dict.methods | trim | replace('\r\n', '\n') | replace('\n\n', '\n') | replace('\n', '<br>') | safe }}</p>


  <div><strong> Technical Information </strong></div>
  <p>{{ pkg_dict.technicalInfo | trim | replace('\r\n', '\n') | replace('\n\n', '\n') | replace('\n', '<br>') | safe }}</p>
  <!-- <hr style="height:2px;border-width:0;color:black;background-color:gray"> -->

  <!-- Spatial Information -->

  <head>
    <title>Simple Leaflet Map</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.4/dist/leaflet.css"
      integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA=="
      crossorigin="" />
    <script src="https://unpkg.com/leaflet@1.3.4/dist/leaflet.js"
      integrity="sha512-nMMmRyTVoLYqjP9hrbed9S+FzjZHW5gY1TWCHA5ckwXZBadntCNs8kEqAWdrb9O7rxbCaA4lKTIWjDXZxflOcA=="
      crossorigin=""></script>
    <style>
      #mapid {
        height: 300px;
        width: auto;
      }
    </style>
  </head>
  <div id="spatialInfo" style="display: none;">
    <div><strong> Spatial Information </strong></div>
    <pre>
  <strong>Geolocation Point</strong> 
    (Latitude, Longitude) : ( {{ pkg_dict.geoLatitude }}, {{ pkg_dict.geoLongitude }} ) 
  </pre>
    <pre id="geoBox" style="display: none;">
  <strong>Geolocation Box:</strong>
     Lower Left Corner (Latitude,Longitude): ( {{ pkg_dict.geoLowLeftLatitude }}, {{ pkg_dict.geoLowLeftLongitude }} ) 
     Top Right Corner (Latitude,Longitude): ( {{ pkg_dict.geoTopRightLatitude }}, {{ pkg_dict.geoTopRightLongitude }} ) 
  </pre>

    <div id="mapid"></div>
  </div>
  <script>
    let x = parseFloat("{{ pkg_dict.geoLatitude }}");
    let y = parseFloat("{{ pkg_dict.geoLongitude }}");
    if (x || y || "{{ pkg_dict.geoLowLeftLatitude }}") {
      document.getElementById("spatialInfo").style.display = "block";
    }
    var mymap = L.map('mapid').setView([x, y], 13);
    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
      maxZoom: 19,
    }).addTo(mymap);
    L.marker([x, y]).addTo(mymap);
    if ("{{ pkg_dict.geoLowLeftLatitude }}") {
      document.getElementById("geoBox").style.display = "block";
      let llx = parseFloat("{{ pkg_dict.geoLowLeftLatitude }}");
      let lly = parseFloat("{{ pkg_dict.geoLowLeftLongitude }}");
      let trx = parseFloat("{{ pkg_dict.geoTopRightLatitude }}");
      let trY = parseFloat("{{ pkg_dict.geoTopRightLongitude }}");
      var bounds = [[llx, lly], [trx, trY]];
      L.rectangle(bounds, { color: "#ff7800", weight: 1 }).addTo(mymap);

    }
  </script>
  <!-- <hr style="height:2px;border-width:0;color:black;background-color:gray"> -->


  <!-- Collection Dates -->
  <br>
  <div id="collectionStartDateDiv" style="display: none;">
    <div><strong> Collection Start Date </strong></div>
    <p>{{ pkg_dict.collectionStartDate }}</p>
  </div>
  <div id="collectionEndDateDiv" style="display: none;">
    <div><strong> Collection End Date </strong></div>
    <p>{{ pkg_dict.collectionEndDate }}</p>
  </div>

  <script>
    if ("{{pkg_dict.collectionStartDate}}") {
      document.getElementById("collectionStartDateDiv").style.display = "block";
    }
    if ("{{ pkg_dict.collectionEndDate }}") {
      document.getElementById("collectionEndDateDiv").style.display = "block";
    }
  </script>
  <!-- <hr style="height:2px;border-width:0;color:black;background-color:gray"> -->

  <!-- Related Resource Fields -->
  <div><strong> Related Resources</strong> </div>
  <pre id="relatedResourceField"></pre>
  <!-- <hr style="height:2px;border-width:0;color:black;background-color:gray"> -->

  <script>
    let type = "{{pkg_dict.relationType}}".split(",");
    let Rid = "{{pkg_dict.relatedIdentifier}}".split(",");
    let p = document.getElementById("relatedResourceField");
    for (let i = 0; i < type.length; i++) {

      let link = document.createElement("a");
      link.href = Rid[i];
      link.textContent = Rid[i];
      val = document.createTextNode(` ${i + 1}: `);

      p.append(val);
      p.append(link);
      p.append("\n");
    }
  </script>

<!-- FUnder Information -->
<div><strong> Funder Information</strong></div>
<table id="funderTable" style="display: table; word-wrap: break-word; overflow: hidden; width: 100%;">
  <tr style="color: #0e6633">
    <th style="width: 20%;">
      Award Number
    </th>
    <th style="width: 50%;">
      Award Title
    </th>
    <th style="width: 30%;">
      Funder Name
    </th>
  </tr>
</table>
<br>
<script>
  let aNum = "{{pkg_dict.awardNumber}}".split(",");
  let aTitle = "{{pkg_dict.awardTitle}}".split(",");
  let funder = "{{pkg_dict.funderName}}".split(",");
  let fId = "pkg_dict.funderId".split(",");

  funTable = document.getElementById("funderTable");
  for (let i = 0; i < aNum.length; i++) {
    let row = funTable.insertRow();
    let cell1 = row.insertCell();
    let cell2 = row.insertCell();
    let cell3 = row.insertCell();

    let awardNum = aNum[i].replace(/\//g, "%2F");
    let url = `https://gtr.ukri.org/projects?ref=${awardNum}`;

    cell1.innerHTML = aNum[i];
    cell2.innerHTML = `<a href="${url}">${aTitle[i]}</a>`;
    cell3.innerHTML = funder[i];
  }
</script>

  <!-- Contributor Information -->
  <div id="contriDiv" style="display: none;">
    <strong>Contributors Information</strong>
  </div>
  <table id="contributorTable" style="display: none; word-wrap: break-word; overflow: hidden;">
    <tr style="color: #0e6633; font-family: Arial;">
      <th>Contributor Type</th>
      <th>Name</th>
      <th>ORCID</th>
      <th>Affiliation</th>
    </tr>
  </table>

  <script>
    let conType = "{{pkg_dict.contributorType}}".split(",");
    let conName = "{{pkg_dict.contributorDetails}}".split(",");
    let conID = "{{pkg_dict.contributorId}}".split(",");
    let conAff = "{{pkg_dict.contributorAffiliation}}".split(",");
    let contriTable = document.getElementById("contributorTable");
    if ("{{pkg_dict.contributorDetails}}") {
      contriTable.style.display = "table";
      document.getElementById("contriDiv").style.display = "block";
    }

    for (let i = 0; i < conType.length; i++) {
      let row = contriTable.insertRow();
      let cell1 = row.insertCell();
      let cell2 = row.insertCell();
      let cell3 = row.insertCell();
      let cell4 = row.insertCell();

      cell1.innerHTML = conType[i];
      cell2.innerHTML = conName[i];
      // Update the ORCID value to include the URL and make it a clickable link
      if (conID[i] != "NONE") {
        cell3.innerHTML = '<a href="https://orcid.org/' + conID[i] + '" target="_blank">https://orcid.org/' + conID[i] + '</a>';
      }
      else {
        cell3.innerHTML = "NONE";
      }
      cell4.innerHTML = conAff[i];
    }

  </script>
  <br><br>
  <!-- <hr style="height:2px;border-width:0;color:black;background-color:gray"> -->

  <!-- Private Information -->

  <table id="table1" style="word-wrap: break-word; overflow: hidden;">
    <tr>
      <th>

        <strong style="color: #0e6633; font-family: Arial;"> Private Information </strong>

      </th>
      <td></td>
    </tr>
    <tr>
      <th>Responsible Person</th>
      <td>{{pkg_dict.responsiblePerson}}</td>
    </tr>
    <tr>
      <th>Research Infrastructure Used</th>
      <td>{{ pkg_dict.infraUsed }}</td>
    </tr>
    <tr>
      <th>Data Locations</th>
      <td>{{ pkg_dict.dataLocation }}</td>
    </tr>
    <tr>
      <th>Assoicated Notebooks</th>
      <td>
        <pre id="notebookField"></pre>
      </td>
    </tr>
    <tr>
      <th>Experiment Code Type</th>
      <td>{{pkg_dict.experimentCode}}</td>
    </tr>
    <tr>
      <th>Experiment Code</th>
      <td>{{pkg_dict.Codes}}</td>
    </tr>
    <tr>
      <th> Withdrawal Reason</th>
      <td>
        {{pkg_dict.withdrawalReason}}
      </td>
    </tr>


  </table>
  <script>
    if ("{{user}}" == "true") {
      console.log("show secrets");
      document.getElementById("table1").style.display = "table";
    }
    else {
      console.log("hide secrets");
    }
    var notebooks = "{{ pkg_dict.associatedNote }}".split(",");
    for (let i = 0; i < notebooks.length; i++) {
      var link = document.createElement('a');
      link.href = notebooks[i];
      link.textContent = notebooks[i];
      document.getElementById("notebookField").append(link);
      document.getElementById("notebookField").append("\n");
    }
  </script>

  <body>
    <script>
      let author_names = "{{pkg_dict.author}}".split(",");
      let author_org = "{{ pkg_dict.creatorAffiliation }}".split(",");
      let author_id = "{{ pkg_dict.nameIdentifier }}".split(",");
      let subs = "{{pkg_dict.subject}}".split(",");
      let abss = document.getElementById("p-abstract").innerHTML.trim();
      let tempCoverage = "{{ pkg_dict.collectionStartDate }}" + "/" + "{{pkg_dict.collectionEndDate}}";
      abss = abss.trim();
      let spatCoverage = "{{ pkg_dict.geoLowLeftLatitude}}" + " " + "{{ pkg_dict.geoLowLeftLongitude}}" + " " + "{{ pkg_dict.geoTopRightLatitude}}" + " " + "{{ pkg_dict.geoTopRightLongitude}}";
      //console.log(spatCoverage);
      let relatedType = "{{ pkg_dict.relatedResourceType }}".split(",");
      let licenseText = "{{ pkg_dict.license }}";
      let licenseLink = "";
      if (licenseText == "Creative Commons Attribution Non-Commercial (CC BY-NC 4.0)") {
        licenseLink = "https://creativecommons.org/licenses/by-nc/4.0/";
      }
      else if (licenseText == "Creative Commons Attribution Licence (CC BY 4.0)") {
        licenseLink = "https://creativecommons.org/licenses/by/4.0/";
      }
      else if (licenseText == "Open Government Licence (OGL)") {
        licenseLink = "https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/";
      }

      //Create JSON-LD Structure
      const jsonld = {
        "@context": "http://schema.org",
        "@type": "Dataset",
        "id": "https://doi.org/{{ pkg_dict['doi'] }}",
        "url": "http://pursuit.rothamsted.ac.uk",
        "name": "{{ pkg_dict.name }}",
        "creator": author_names.map((name, index) => ({
          "@type": "Person",
          "name": name,
          "identifier": author_id[index],
          "affiliation": author_org[index]

        })),
        "publisher": { "@type": "Organization", "name": "Rothamsted Research" },
        "keywords": subs,
        "version": "{{pkg_dict.version}}",
        "license": licenseLink,
        "description": abss,
        "datePublished": "{{pkg_dict.submittedDate}}",
        "funder": funder.map((name, index) => ({
          "@type": "Organization",
          "name": name,
          "sameAs": fId[index],
        })),
        "temporalCoverage": tempCoverage,
        "spatialCoverage": {
          "@type": "Place",
          "geo": {
            "@type": "GeoShape",
            "box": spatCoverage,
          }
        },

        "hasPart": Rid.map((name, index) => ({
          "@type": "Dataset",
          "name": name,
          "@id": name,
          "description": "This resource is of type " + relatedType[index] + ". This is related to  " + "{{ pkg_dict.name }}" + " as " + type[index],
          "creator": {
            "@type": "Person",
            "name": "N/A"
          },
          "license": "N/A",

        })),

      }
      // Convert the JSON-LD structure to a string
      const jsonldScript = JSON.stringify(jsonld, null, 2);

      // Create a script element and set its type and content
      const scriptElement = document.createElement('script');
      scriptElement.type = 'application/ld+json';
      scriptElement.text = jsonldScript;

      // Append the script element to the head of the document
      document.head.appendChild(scriptElement);
    </script>
  </body>
</section>
