<section class="additional-info">
 <!-- Author Information -->
  <div><strong>Authors</strong></div>
  <pre id="author-field" style="background-color: #f3f1f1;"></pre>
  <hr style="height:2px;border-width:0;color:black;background-color:gray">

  <script>
    let auths = "{{pkg_dict.author}}".split(",");
    let ids = "{{ pkg_dict.nameIdentifier }}".split(",");
    let affils = "{{ pkg_dict.creatorAffiliation }}".split(",");

    for (let i = 0; i < auths.length; i++) {
      let p = document.getElementById("author-field");
      val = document.createTextNode(`${auths[i]}; ${ids[i]}; ${affils[i]}`);
      p.append(val);
      p.append("\n");
    }
  </script>
  <!-- Abstract, Methods and Technical Information  -->
  <div><strong> Abstract </strong></div>
  <p style="background-color: #f3f1f1;">{{ pkg_dict.abstract }}</p>
  <hr style="height:2px;border-width:0;color:black;background-color:gray">

  <div><strong> Methods </strong></div>
  <p style="background-color: #f3f1f1;">{{ pkg_dict.methods }}</p>
  <hr style="height:2px;border-width:0;color:black;background-color:gray">


  <div><strong> Technical Information </strong></div>
  <p style="background-color: #f3f1f1;">{{ pkg_dict.technicalInfo }}</p>
  <hr style="height:2px;border-width:0;color:black;background-color:gray">


  <div><strong> Spatial Information </strong></div>
  <pre style="background-color: #f3f1f1;">
    <!-- Spatial Information -->
 Geolocation Point (Latitude, Longitude) : ( {{ pkg_dict.geoLatitude }}, {{ pkg_dict.geoLongitude }} ) 
 Geolocation Box:
    Lower Left Corner (Latitude,Longitude): ( {{ pkg_dict.geoLowLeftLatitude }}, {{ pkg_dict.geoLowLeftLongitude }} ) 
    Top Right Corner (Latitude,Longitude): ( {{ pkg_dict.geoTopRightLatitude }}, {{ pkg_dict.geoTopRightLongitude }} ) 
  </pre>
  <hr style="height:2px;border-width:0;color:black;background-color:gray">

  <!-- Collection Dates -->
  <div><strong> Collection Date </strong></div>
  {% if pkg_dict.collectionEndDate %}
    <p style="background-color: #f3f1f1;">{{ pkg_dict.collectionStartDate }} to {{ pkg_dict.collectionEndDate }} </p>
  {%else%}
    <p style="background-color: #f3f1f1;"> {{ pkg_dict.collectionStartDate }} </p>  
  {%endif%}  
  <hr style="height:2px;border-width:0;color:black;background-color:gray">

  <!-- Related Resource Fields -->
  <div><strong> Related Resources</strong> </div>
  <pre id="relatedResourceField" style="background-color: #f3f1f1;"></pre>
  <hr style="height:2px;border-width:0;color:black;background-color:gray">

  <script>
    let type = "{{pkg_dict.relationType}}".split(",");
    let Rid = "{{pkg_dict.relatedIdentifier}}".split(",");
    let p = document.getElementById("relatedResourceField");
    for (let i=0;i<type.length; i++ ){

      let link = document.createElement("a");
      link.href = Rid[i];
      link.textContent = Rid[i];
      val = document.createTextNode(` ${i + 1}: ${type[i]} `);

      p.append(val);
      p.append(link);
      p.append("\n");
    }
  </script>
  <!-- Funder Information -->
  <div><strong> Funder Information</strong></div>
  <pre id="funderInfo" style="background-color: #f3f1f1;"></pre>.
  <hr style="height:2px;border-width:0;color:black;background-color:gray">

  <script>
    let aNum = "{{pkg_dict.awardNumber}}".split(",");
    let aTitle = "{{pkg_dict.awardTitle}}".split(",");
    let aURI = "{{pkg_dict.awardURI}}".split(",");
    let funder = "{{pkg_dict.funderName}}".split(",");
    p = document.getElementById("funderInfo");
    for(let i=0; i<aNum.length;i++){
      let link = document.createElement("a");
      link.href = aURI[i];
      link.textContent = aURI[i];
      val = document.createTextNode(` ${i+1}. Award Number: ${aNum[i]}, Award Title: ${aTitle[i]}, Funder Name: ${funder[i]}, Award URI: `);
      p.append(val);
      p.append(link);
      p.append("\n"); 
      }
  </script>

  <!-- Contributor Information -->
  <div><strong> Contributors</strong></div>
  <pre id="contributorDetails" style="background-color: #f3f1f1;"></pre>
  <hr style="height:2px;border-width:0;color:black;background-color:gray">

  <script>
    let conType = "{{pkg_dict.contributorType}}".split(",");
    let conName = "{{pkg_dict.contributorDetails}}".split(",");
    let conID = "{{pkg_dict.contributorId}}".split(",");
    let conAff = "{{pkg_dict.contributorAffiliation}}".split(",");
    para = document.getElementById("contributorDetails");
    
    for (let i=0;i<conName.length;i++){
      val = document.createTextNode(` ${i+1}. Type: ${conType[i]}, Name: ${conName[i]}, ID: ${conID[i]}, Affiliation: ${conAff[i]}  `);
      para.append(val);
      para.append("\n");
    }

  </script>
  
</section>
