<section class="additional-info">
  <!-- Author Information -->
  {% set can_edit = h.check_access('package_update', {'id':pkg_dict.id }) %}
  {% set user = 'true' if can_edit else 'false' %}
  <div><strong>Authors</strong></div>
  <pre id="author-field" style="background-color: #f3f1f1;"></pre>
  <hr style="height:2px;border-width:0;color:black;background-color:gray">

  <script>
    let auths = "{{pkg_dict.author}}".split(",");
    let ids = "{{ pkg_dict.nameIdentifier }}".split(",");
    let affils = "{{ pkg_dict.creatorAffiliation }}".split(",");

    for (let i = 0; i < auths.length; i++) {
      let p = document.getElementById("author-field");
      val = document.createTextNode(`${auths[i]}         Affiliation:${affils[i]}         ID:`);
      let link = document.createElement("a");
      link.href = ids[i];
      link.textContent = ids[i];
      p.append(val);
      p.append(link);
      p.append("\n");
    }
  </script>
  <!-- Abstract, Methods and Technical Information  -->
  <div><strong> Abstract </strong></div>
  <p style="background-color: #f3f1f1;">{{ pkg_dict.abstract }}</p>
  <hr style="height:2px;border-width:0;color:black;background-color:gray">

  <div><strong> Methods </strong></div>
  <p style="background-color: #f3f1f1;">{{ pkg_dict.methods }}</p>
  <hr style="height:2px;border-width:0;color:black;background-color:gray">


  <div><strong> Technical Information </strong></div>
  <p style="background-color: #f3f1f1;">{{ pkg_dict.technicalInfo }}</p>
  <hr style="height:2px;border-width:0;color:black;background-color:gray">

  <!-- Spatial Information -->
  <div><strong> Spatial Information </strong></div>
  <pre style="background-color: #f3f1f1;">
  <strong>Geolocation Point</strong> 
    (Latitude, Longitude) : ( {{ pkg_dict.geoLatitude }}, {{ pkg_dict.geoLongitude }} ) 
  </pre>
  <pre id="geoBox" style="display: none; background-color: #f3f1f1;"> 
  <strong>Geolocation Box:</strong>
     Lower Left Corner (Latitude,Longitude): ( {{ pkg_dict.geoLowLeftLatitude }}, {{ pkg_dict.geoLowLeftLongitude }} ) 
     Top Right Corner (Latitude,Longitude): ( {{ pkg_dict.geoTopRightLatitude }}, {{ pkg_dict.geoTopRightLongitude }} ) 
  </pre>
  <head>
    <title>Simple Leaflet Map</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
    <style>
        #mapid {
            height: 300px;
            width:auto;
        }
    </style>
</head>
<div id="mapid"></div>

    <script>
        let x = parseFloat("{{ pkg_dict.geoLatitude }}");
        let y = parseFloat("{{ pkg_dict.geoLongitude }}")
        var mymap = L.map('mapid').setView([x, y], 13);
        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            maxZoom: 19,
        }).addTo(mymap);
        L.marker([x, y]).addTo(mymap);
        if("{{ pkg_dict.geoLowLeftLatitude }}"){
        document.getElementById("geoBox").style.display = "block";
        let llx = parseFloat("{{ pkg_dict.geoLowLeftLatitude }}");
        let lly = parseFloat("{{ pkg_dict.geoLowLeftLongitude }}");
        let trx = parseFloat("{{ pkg_dict.geoTopRightLatitude }}");
        let trY = parseFloat("{{ pkg_dict.geoTopRightLongitude }}");
        var bounds = [[llx, lly], [trx, trY]];
        L.rectangle(bounds, {color: "#ff7800", weight: 1}).addTo(mymap);

  }
    </script>
  <hr style="height:2px;border-width:0;color:black;background-color:gray">


  <!-- Collection Dates -->
  <div><strong> Collection Date </strong></div>
  {% if pkg_dict.collectionEndDate %}
  <p style="background-color: #f3f1f1;">{{ pkg_dict.collectionStartDate }} to {{ pkg_dict.collectionEndDate }} </p>
  {%else%}
  <p style="background-color: #f3f1f1;"> {{ pkg_dict.collectionStartDate }} </p>
  {%endif%}
  <hr style="height:2px;border-width:0;color:black;background-color:gray">

  <!-- Related Resource Fields -->
  <div><strong> Related Resources</strong> </div>
  <pre id="relatedResourceField" style="background-color: #f3f1f1;"></pre>
  <hr style="height:2px;border-width:0;color:black;background-color:gray">

  <script>
    let type = "{{pkg_dict.relationType}}".split(",");
    let Rid = "{{pkg_dict.relatedIdentifier}}".split(",");
    let p = document.getElementById("relatedResourceField");
    for (let i = 0; i < type.length; i++) {

      let link = document.createElement("a");
      link.href = Rid[i];
      link.textContent = Rid[i];
      val = document.createTextNode(` ${i + 1}: ${type[i]} `);

      p.append(val);
      p.append(link);
      p.append("\n");
    }
  </script>
  <!-- Funder Information -->
  <div><strong> Funder Information</strong></div>
  <pre id="funderInfo" style="background-color: #f3f1f1;"></pre>
  <hr style="height:2px;border-width:0;color:black;background-color:gray">

  <script>
    let aNum = "{{pkg_dict.awardNumber}}".split(",");
    let aTitle = "{{pkg_dict.awardTitle}}".split(",");
    let aURI = "{{pkg_dict.awardURI}}".split(",");
    let funder = "{{pkg_dict.funderName}}".split(",");
    p = document.getElementById("funderInfo");
    for (let i = 0; i < aNum.length; i++) {
      let link = document.createElement("a");
      link.href = aURI[i];
      link.textContent = aURI[i];
      val = document.createTextNode(` ${i + 1}. Award Number: ${aNum[i]}, Award Title: ${aTitle[i]}, Funder Name: ${funder[i]}, Award URI: `);
      p.append(val);
      p.append(link);
      p.append("\n");
    }
  </script>

  <!-- Contributor Information -->
  <div><strong> Contributors</strong></div>
  <pre id="contributorDetails" style="background-color: #f3f1f1;"></pre>
  <hr style="height:2px;border-width:0;color:black;background-color:gray">

  <script>
    let conType = "{{pkg_dict.contributorType}}".split(",");
    let conName = "{{pkg_dict.contributorDetails}}".split(",");
    let conID = "{{pkg_dict.contributorId}}".split(",");
    let conAff = "{{pkg_dict.contributorAffiliation}}".split(",");
    para = document.getElementById("contributorDetails");

    for (let i = 0; i < conName.length; i++) {
      val = document.createTextNode(` ${i + 1}. Type: ${conType[i]}, Name: ${conName[i]}, ID: ${conID[i]}, Affiliation: ${conAff[i]}  `);
      para.append(val);
      para.append("\n");
    }

  </script>


  <!-- Private Information -->
  <style>
    table {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 100%;
      display: none;
      border-bottom: 1px black;
      table-layout: fixed;
    }

    td,
    th {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 8px;
    }

    tr:nth-child(even) {
      background-color: #dddddd;
    }

    pre {
      color: rgb(0, 0, 0);
      font: 1em sans-serif;
    }

    p {
      color: black;
      font: 1em sans-serif
    }
  </style>
  <table id="table1">
    <tr>
      <th>

        <strong style="color: green; font-family: Arial;"> Private Information </strong>

      </th>
      <td></td>
    </tr>
    <tr>
      <th>Responsible Person</th>
      <td>{{pkg_dict.responsiblePerson}}</td>
    </tr>
    <tr>
      <th>Research Infrastructure Used</th>
      <td>{{ pkg_dict.infraUsed }}</td>
    </tr>
    <tr>
      <th>Data Locations</th>
      <td>{{ pkg_dict.dataLocation }}</td>
    </tr>
    <tr>
      <th>Assoicated Notebooks</th>
      <td>
        <pre id="notebookField"></pre>
      </td>
    </tr>
    <tr>
      <th>Experiment Code Type</th>
      <td>{{pkg_dict.experimentCode}}</td>
    </tr>
    <tr>
      <th>Experiment Code</th>
      <td>{{pkg_dict.Codes}}</td>
    </tr>
    <tr>
      <th>Funder ID </th>
      <td>
        <pre id="funderField"></pre>
      </td>
    </tr>

  </table>
  <script>
    if ("{{user}}" == "true") {
      console.log("show secrets");
      document.getElementById("table1").style.display = "table";
    }
    else {
      console.log("hide secrets");
    }
    var notebooks = "{{ pkg_dict.associatedNote }}".split(",");
    for (let i = 0; i < notebooks.length; i++) {
      var link = document.createElement('a');
      link.href = notebooks[i];
      link.textContent = notebooks[i];
      document.getElementById("notebookField").append(link);
      document.getElementById("notebookField").append("\n");
    }

    var funderPrivateInfo = document.getElementById("funderField");
    var idType = "{{ pkg_dict.funderIdType }}".split(",");
    var fId = "{{ pkg_dict.funderId }}".split(",");
    for (let i = 0; i < fId.length; i++) {
      let val = document.createTextNode(`ID Type: ${idType[i]} , ID: ${fId[i]}`);
      funderPrivateInfo.append(val);
      funderPrivateInfo.append("\n")
    }
  </script>
</section>
