{#
  Renders a list of resources with icons and view links.

  resources - A list of resources (dicts) to render
  pkg - A package dict that the resources belong to.

  Example:

  {% snippet "package/snippets/resources_list.html", pkg=pkg, resources=pkg.resources %}

  #}
  
  
  {# setFlag() is a function defined in /usr/lib/ckan/default/src/ckan/ckan/lib/helpers.py
    
    It is defined to check the available data of the dataset and decide whether or not to display the resources

    Might get removed when ckan is upgraded.
    the code is given here to use in such a case
    
    @core_helper
  def setFlag( dateAvailable ) -> str:
     ''' returns true or false based on available date and current date'''
     if not dateAvailable:
          return True
      currentDate = datetime.date.today()
      availableDate = datetime.datetime.strptime(dateAvailable, "%Y-%m-%d").date()
      if currentDate >= availableDate:
         return True
     else:
          return False
  #}
{% set dateAvailable = pkg.availableDate %}
{% set flag = h.setFlag(dateAvailable) %}

<section id="dataset-resources" class="resources">
  <h2>{{ _('Data and Resources') }}</h2>
  {% block resource_list %}
    {% if resources and flag %}
      {% set can_edit = can_edit or h.check_access('package_update', {'id':pkg.id }) %}
      <ul class="{% block resource_list_class %}resource-list{% endblock %}">
        {% block resource_list_inner %}
          {% for resource in resources %}
            {% snippet 'package/snippets/resource_item.html', pkg=pkg, res=resource, can_edit=can_edit %}
          {% endfor %}
        {% endblock %}
      </ul>
    {% elif resources and not flag %}
    <p class="test">Data is not yet available. Contact the author for more information</p>  
    {% else %}  
      {% block resource_list_empty %}         
        {% if h.check_access('resource_create', {'package_id': pkg['id']}) %}
          {% trans url=h.url_for(pkg.type ~ '_resource.new', id=pkg.name) %}

          <p class="empty">Data in this dataset is either empty or not available, <a href="{{ url }}">why not add some?</a></p>
          {% endtrans %}
        {% else %}
          <p class="empty">{{ _('Data in this dataset is either empty or not available') }}</p>
        {% endif %}
      {% endblock %}
    {% endif %}
  {% endblock %}
</section>

