{% extends "package/base.html" %}

{% set default_group_type = h.default_group_type('group') %}

{% block subtitle %}{{ h.dataset_display_name(pkg) }} {{ g.template_title_delimiter }} {{ super() }}{% endblock %}

{% block head_extras -%}
  {{ super() }}
  {% set description = h.markdown_extract(pkg.notes, extract_length=200)|forceescape %}
  <meta property="og:title" content="{{ h.dataset_display_name(pkg) }} - {{ g.site_title }}">
  <meta property="og:description" content="{{ description|forceescape|trim }}">
{% endblock -%}

{% block content_action %}
  {% if h.check_access('package_update', {'id':pkg.id }) %}
    {% link_for _('Manage'), named_route=pkg.type ~ '.edit', id=pkg.name, class_='btn btn-light', icon='wrench' %}
  {% endif %}
{% endblock %}

{% block content_primary_nav %}
  {{ h.build_nav_icon(dataset_type ~ '.read', _('Dataset'),  id=pkg.name, icon='sitemap') }}
  {{ h.build_nav_icon(dataset_type ~ '.groups', h.humanize_entity_type('group', default_group_type, 'content tab') or _('Groups'), id=pkg.name, icon='users') }}
{% endblock %}

{% block secondary_content %}

  {% block secondary_help_content %}{% endblock %}

  {% block package_info %}
    {% snippet 'package/snippets/info.html', pkg=pkg %}
  {% endblock %}
  <!-- <hr style="height:2px;border-width:0;color:black;background-color:gray"> -->
  <div style="text-align: left; padding-left: 10px;"><strong>  DOI</strong></div>
  <pre style="text-align: left; padding-left: 10px;" >https://doi.org/{{ pkg_dict['doi'] }}</pre>
  <!-- <hr style="height:2px;border-width:0;color:black;background-color:gray"> -->

  <div style="text-align: left; padding-left: 10px;"><strong>  Version</strong></div>
  <pre style="text-align: left; padding-left: 10px;" >{{ pkg_dict.version }}</pre>
  <!-- <hr style="height:2px;border-width:0;color:black;background-color:gray"> -->

  <div style="text-align: left; padding-left: 10px;"><strong> Keywords</strong></div>
  {% block package_tags %}
  {% snippet "package/snippets/tags.html", tags=pkg.tags %}
  {% endblock %} 
  <!-- <hr style="height:2px;border-width:0;color:black;background-color:gray"> -->


  <div style="text-align: left; padding-left: 10px; "><strong>  Resource Type General</strong></div>
  <pre style="text-align: left; padding-left: 10px;" >{{ pkg_dict.resourceTypeGeneral }}</pre>

  <div style="text-align: left; padding-left: 10px; "><strong>Resource Type </strong></div>
  <pre style="text-align: left; padding-left: 10px;" >{{pkg_dict.resourceType}}</pre>
  <!-- <hr style="height:2px;border-width:0;color:black;background-color:gray"> -->

  <div style="text-align: left; padding-left: 10px;"><strong>  Publisher </strong></div>
  <pre style="text-align: left; padding-left: 10px;" >Publisher: {{ pkg_dict.publisher }}</pre>
  <div style="text-align: left; padding-left: 10px;"><strong>Publication Year </strong></div>
  <pre style="text-align: left; padding-left: 10px;" >{{pkg_dict.publicationYear}}</pre>
  <!-- <hr style="height:2px;border-width:0;color:black;background-color:gray"> -->
  <div id="createdDateDiv" style="display: none;">
    <div style="text-align: left; padding-left: 10px; "><strong>Created Date</strong></div>
    <pre style="text-align: left; padding-left: 10px;" >{{pkg_dict.createdDate}}</pre>
  </div>
  <div id="submittedDateDiv" style="display: none;">
    <div style="text-align: left; padding-left: 10px; "><strong>Submitted Date</strong></div>
    <pre style="text-align: left; padding-left: 10px;" >{{pkg_dict.submittedDate}}</pre>
  </div>
  <div id="availableDateDiv" style="display: none;">
    <div style="text-align: left; padding-left: 10px; "><strong>Available Date</strong></div>
    <pre style="text-align: left; padding-left: 10px;" >{{pkg_dict.availableDate}}</pre>
  </div>
  <div id="withdrawnDateDiv" style="display: none;">
    <div style="text-align: left; padding-left: 10px; "><strong>Withdrawn Date</strong></div>
    <pre style="text-align: left; padding-left: 10px;" >{{pkg_dict.withdrawnDate}}</pre>
  </div>
<script>
  if("{{pkg_dict.createdDate}}"){
    document.getElementById("createdDateDiv").style.display = "block";
  }
  if("{{pkg_dict.submittedDate}}"){
    document.getElementById("submittedDateDiv").style.display = "block";
  }
  if("{{pkg_dict.availableDate}}"){
    document.getElementById("availableDateDiv").style.display = "block";
  }
  if("{{pkg_dict.withdrawnDate}}"){
    document.getElementById("withdrawnDateDiv").style.display = "block";
  }
</script>
<!-- <hr style="height:2px;border-width:0;color:black;background-color:gray"> -->

{% block package_license %}
{% snippet "snippets/license.html", pkg_dict=pkg %}
{% endblock %}

{% block package_social %}
    {% snippet "snippets/social.html" %}
  {% endblock %}


{% endblock %}

